.all-feed{
    background-color:rgb(245, 245, 250);
    width: 100vw;
    padding-top: 10%;
    display: flex;

    .grid-right{
        width: 20vw;

        section{
            position: sticky;
            top: 60px;
        }

    
    }

    .grid-left{
        width: 25vw;
        margin-left: 10%;
    }

    .grid-center{
        width: 50vw;
        margin: auto;
        
    }
        

}

