 div[id*="map-"] {
   //  position:absolute; 
    // top:0; 
    // bottom:0; 
    // margin-left: 8.3%;
    // margin-top: 7px;
    // margin-bottom: 2%;
    // height: 32vh;
    // width: 100%;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 2%;
    height: 25vh;
    width: 80%;
    padding: 1%;
    margin-right: auto;
 }