#user-feed-recent-profile{
    margin-right: auto;
    margin-left: 3px;
    margin-bottom: 88px;

}

#profile-activity-details{
    width: 176%;

}

.user-profile-maps > div{
    display: flex;
    margin-top: 41px;

}
.user-profile-maps > h2{
    margin-top: 32px;
    font-weight: 700;
    font-size: 23px;
    font-family: $strava-font;
    color: $strava-black;
}

#activity-header-profile{
    margin-bottom: 2px;
    p{
        font-size: 11px;
        color: #666;
    }
}

