#user-feed-recent-profile{
    padding-top: 4%;
    margin-right: auto;
    padding-bottom: 10%;
    margin-bottom: 10%;
    border-bottom: 2px solid #e6e6eb;
    width: 100%;
}

#profile-activity-details{
    width: 78%;
}

.user-profile-maps > div{
    display: flex;
}