$strava-orange: #fc4c02;
$strava-font: -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$background-color: rgb(245, 245, 250);
$strava-black: #2d2d32;
$shadow: 0px 8px 24px rgba(13,13,18,0.16);
$strava-grey: #e6e6eb;
