.signIn-form {
  
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 368px;
    height: 369px;
    padding: 50px;
    text-align: center;
    margin-top: 0px;
    border-radius: 3px;
    justify-content: center;

}

.signIn-form-login {
  
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 368px;
    height: 279px;
    padding: 50px;
    text-align: center;
    margin-top: 0px;
    border-radius: 3px;
    justify-content: center;

}


#signIn-title-signIn {
    margin-top: 143px;;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    background: rgba(0,0,0,0.75);
    border-radius: 3px;
    display: block;
    padding: 20px 50px;
    width: 268px;
    height: 40px;
    margin-bottom: 0px;
    color: white;
    font-family:  Arial, Helvetica, sans-serif
}

#signIn-title {
    margin-top: 143px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    background: rgba(0,0,0,0.75);
    border-radius: 3px;
    display: block;
    padding: 20px 50px;
    width: 268px;
    height: 80px;
    margin-bottom: 0px;
    color: white;
    font-family:  Arial, Helvetica, sans-serif
}


.signIn-form-fill{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.home-container {
    align-items: center;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: asset-url("biking.JPG");
    background-size: cover;

}

.home-signIn-container {
    align-items: center;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: asset-url("mountain.jpg");
    background-size: cover;

}



.formInput{
    background: rgba(0, 0, 0, 0.52);
    border: 1px solid #666;
    color: #CCC;
    padding: 10px 16px;
    min-width: 80px;
    width: 85%;
    height: 16px;
    border-radius: 4px;
}

.signIn-button {
    border-radius: 3px;
    line-height: inherit;
    min-height: 40px;
    width: 100%;
    background-color:$strava-orange;
    border-color:$strava-orange;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.demoUser-button {
    border-radius: 3px;
    line-height: inherit;
    min-height: 40px;
    width: 100%;
    background-color:royalblue;
    border-color:royalblue;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.demoUser-button:hover {
    background-color: rgb(63, 63, 237);
    cursor: pointer;
}


.signIn-button:hover {
    background-color: #c13d05;
    cursor: pointer;
}

#errors {
    padding-top: 10px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
 
.formInput:focus, textarea:focus {
    background: rgba(218, 215, 215, .9);
    box-shadow: 0 0 8px white;
    border: 1px solid whitesmoke;
    color: black;
}

